<app-header />

<p-card header="Adicionar atividade realizada" [style]="{ width: '360px' }">
  <ng-template pTemplate="header">
      <!-- <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" /> -->
  </ng-template>
  <!-- <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
      quas!
  </p> -->
  <ng-template pTemplate="footer">
    <p-button (click)="showDialog()" icon="pi pi-external-link" label="Adicionar atividade"></p-button>
      <!-- <p-button label="Save" icon="pi pi-check"></p-button>
      <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button> -->
  </ng-template>
</p-card>

<p-dialog header="Atividades Físicas" [(visible)]="visible" [style]="{ width: '50vw', height: '70vh' }">

  <div class="flex auto">
    <p-dropdown appendTo="body" [options]="atividades" [(ngModel)]="atividadeSelecionada" inputId="atividade" placeholder="Selecione a atividade" optionLabel="nome"></p-dropdown>
  </div>

  <div class="flex-auto">
    <label for="icondisplay" class="font-bold block mb-2 mt-4"> Data da Ativadade </label>
    <p-calendar [(ngModel)]="date" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"></p-calendar>
  </div>

  <div class="flex-auto">
    <label for="distancia" class="font-bold block mb-2 mt-4">Distância(km)</label>
    <p-inputNumber [(ngModel)]="distancia" mode="decimal" inputId="distancia" [useGrouping]="false" suffix=" km" [minFractionDigits]="1"> </p-inputNumber>
  </div>

  <div class="flex-auto">
    <label for="duracao" class="font-bold block mb-2 mt-4">Duração(em minutos)</label>
    <p-inputNumber [(ngModel)]="duracao" mode="decimal" inputId="duracao" [useGrouping]="false" suffix=" min"> </p-inputNumber>
  </div>
    
  <div class="flex-auto">
    <button pButton pRipple label="Enviar" class="p-button-success mt-4" (click)="salvarDados()"></button>
  </div>

</p-dialog>


