<router-outlet>
  <app-header></app-header>
</router-outlet>
<div class="perfil-container">
  <p><span>Nome: </span>{{ usuarioLogado.nome }}</p>
  <p><span>Email: </span>{{ usuarioLogado.email }}</p>
  <p><span>Peso: </span>{{ usuarioLogado.peso }}kg</p>
  <p><span>Altura: </span> {{ usuarioLogado.altura | centimetersToMeters }}m</p>
  <p><span>Data de nascimento: </span> {{ usuarioLogado.datanascimento }}</p>
  <p><span>CEP: </span>
  <input type="number" value="{{ usuarioLogado.cep }}"></p>
  <button type="button" (click)="buscarEndereco()" class="btn-buscar">Buscar endereço</button>
  <div class="mostrar-endereco">
    {{ endereco.logradouro }} - {{ endereco.bairro }}, {{ endereco.localidade }} / {{ endereco.uf }}
  </div>
</div>